.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  gap: 32px;
  justify-content: center;
}

.feature {
  width: 362px;
}

.features a {
  color: #437ef7;
  text-decoration: none;
}

.title {
  color: #272d37;
}

.desc {
  color: #5f6d7e;
}

.icon {
  background-color: #437EF7;
  padding: 8px;
  border-radius: 30px;
  width: 32px;
  height: 32px;
  align-items: center;
}

@media (min-width: 425px) and (max-width: 1300px) {
  .features {
    gap: 22px;
  }

  .feature {
    width: 300px;
  }

  .header {
   max-width: 704px;
  }
}
