.features {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 64px;
  gap: 32px;
}

.feature {
  width: 362px;
  margin-bottom: 32px;
}

.features a {
  color: #437ef7;
  text-decoration: none;
}

.title {
  color: #272d37;
}

.desc {
  color: #5f6d7e;
}

.icon {
  background-color: #437EF7;
  padding: 8px;
  border-radius: 30px;
  width: 32px;
  height: 32px;
  align-items: center;
}
