.product-features {
    margin-top: 132px;
}
  
.product-feature {
    margin-bottom: 32px;
    width: 460px;
    display: flex;
}

.product-features a {
    color: #437ef7;
    text-decoration: none;
}

.product-features img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.product-feature .info {
    margin-top: -24px;
}

.title-light {
    color: #272d37;
  }
  
.desc-light {
    color: #5f6d7e;
 }

 .title-dark {
    color: #F9F9F9;
  }
  
.desc-dark {
    color: #A5ACBA;
 }

 @media (min-width: 425px) and (max-width: 500px) {
    .product-feature {
       width: 400px;
    }
 }
 
 @media (min-width: 0px) and (max-width: 425px) {
    .product-feature {
        width: 100%;
     }
 }