.navbar {
    background-color: #3971E7;
    padding: 20px 160px;
    display: flex;
    border-bottom: 2px solid #648EF7;
    max-width: 100%;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-left: 32px;
    margin-top: 10px;
}

.logo {
    width: 160px;
    margin-right: 32px;
}

.login {
    margin-left: 422px;
    line-height: 22px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: none;
    background: none;
}

.signup {
    color: white;
    margin-left: 24px;
    padding: 12px 18px;
    background-color: #648EF7;
    border: 1px solid #648EF7;
    font-size: 15px;
    font-weight: 600;
}

@media (min-width: 425px) and (max-width: 1150px) {
    .navbar {
     padding: 16px 32px; 
    }

    .login {
        margin-left: 10px;
    }
}

