.navbar {
    background-color: #3971E7;
    padding: 32px 160px;
    display: flex;
    border-bottom: 2px solid #648EF7;
    max-width: 100%;
    justify-content: center;
    overflow: hidden;
} 

.logo {
    width: 160px;
    margin-right: 32px;
} 

.login {
    /* margin-left: 422px; */
    line-height: 22px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: none;
    background: none;
}

.signup {
    color: white;
    margin-left: 24px;
    padding: 12px 18px;
    background-color: #648EF7;
    border: 1px solid #648EF7;
    font-size: 15px;
    font-weight: 600;
}
  
  .navbar-toggle {
    display: none; /* Initially hide the toggle button */
  }
  
  .toggle-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px auto;
    transition: background-color 0.3s;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 32px;
    align-items: center;
  }

  .navbar li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }

  .navbar .middle {
    margin-right: 300px;
  }
  
  @media (max-width: 768px) {
    .nav-list {
      display: none; 
      flex-direction: column; 
      align-items: center; 
    }
  
    .navbar-toggle {
      display: block; 
      margin: 10px;
      border: 1px solid white;
      height: 20px;
      background-color: transparent;
      cursor: pointer;
    }
  
    .navbar-toggle.active + .nav-list {
      display: flex; 
    }
  
    .logo {
        height: 80px;
    }
  }

  @media (min-width: 768px) and (max-width: 1300px) {
    .navbar .middle {
        margin-right: 60px;
      }

    .nav-list {
        gap: 12px;
    }
 }
 
 @media (min-width: 0px) and (max-width: 768px) {
    .navbar .middle {
        margin-right: 0px;
      }

    .logo {
       width: 120px;
       height: 70px;
    }

    .navbar li a {
        font-size: 12px;
        font-weight: 600;
      }

    .navbar button {
        font-size: 12px;
    }

    .signup {
        margin-left: 0px;
        padding: 12px 18px;
    }
 }
  