.blogs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    gap: 23px;
}

.blog {
    /* flex: 1; */
    max-width: 384px;
}

.blogs title {
    color: #272D37;
}

.blogs .descr {
    color: #5F6D7E;
    font-size: 16px;
    font-weight: 400;
}

.blogs .author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}