.tagline {
    color: #437EF7;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.1px;
}

.input {
    margin-top: 32px;
}

.signup-welcome input {
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 6px 0px 0px 6px;
    color: #919BA7;
    border: 1px solid #DAE0E6;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    max-width: 392px;
}

.signup-welcome .submit {
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 0px 6px 6px 0px;
    border: none;
    background-color: #437EF7;
    color: #FFFFFF;
    cursor: pointer;
}

.highlights {
    display: inline-flex;
    justify-content: center;
    gap: 23px;
    margin-top: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.check {
    background-color: #437EF7;
    width: 20px;
    height: 20px;
    padding: 4.5px 4px 3.5px 4px;
    align-items: center;
    border-radius: 20px;
}

.higlight {
    display: flex;
    align-items: center;
}

.text {
    color: #272D37;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.1px;
    margin-left: 8px;
}

@media (min-width: 425px) and (max-width: 1300px) {
    
}