body {
  margin: 0;
  font-family: -applPe-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-height: 100vh;
  /* width: 100vw; */
  padding: 64px 160px;
}

/* @media (min-width: 425px) and (max-width: 1200px) {
   .container {
    padding: 40px 32px; 
   }

   .header {
    max-width: 704px;
   }
} */

.center {
  margin: 0 auto;
  text-align: center;
}

.header {
  color: #272d37;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  max-width: 800px;
}

.sub-header {
  color: #5f6d7e;
  max-width: 800px;
  margin-top: 16px;
}

.subheader-higher {
  color :#272D37;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 135.714% */
  letter-spacing: -0.28px;
}

.clients {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
}