body {
  margin: 0;
  font-family: -applPe-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-height: 100vh;
  padding: 32px 160px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.header {
  color: #272d37;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  width: 800px;
}

.sub-header {
  color: #5f6d7e;
  width: 800px;
}

.subheader-higher {
  color :#272D37;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 135.714% */
  letter-spacing: -0.28px;
}