.featuring {
    display: flex;
    flex-wrap: wrap;
    gap: 124px;
    margin-top: 64px;
}

.page-second {
    background-color: #151B28;
}

.featuring .photo {
    width: 560px;
    height: auto;
}